body {
    background-color: #01579B;
}

.rounded_text{
	border-radius: 5px; 
	border-style: solid; 
	border-width: 1px; 
	border-color: Black;
	width: 215px;
	height: 40px;
}

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
  width: 100px;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .1s ease-out, padding-top .1s ease-out;
}


img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.notice{
	position: fixed;
	bottom:63%;
	left: 83%;
}
.container{
	position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

h1{
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
input,
input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 3;
	padding:5px;
}
.footer {
	
	width: 100%;	
    display: block;
	position: fixed;
	bottom:0;
	left:0;
	background-color: #212121;
	
}

.footer p{
	display: inline-block;
	color: white;
	font-size: 17px;
}

#siddaganga{
	padding-right: 10px;
	float: right;
}
#copyright{
	text-align: left;
	padding-left: 10px;
}

a:link{
	position: fixed;
    top: 95%;
    left: 65%;
	right: -50%;
    transform: translate(-50%, -50%);
	text-decoration: none;
	color: white;
}
a:visited {
    color: #ECEFF1;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #CFD8DC;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #B0BEC5;
    background-color: transparent;
    text-decoration: none;
}